a{
    color: rgb(44, 44, 44);
    text-decoration: none;
}

#index h1{
    text-align: center;
    line-height: 100px;
    height: 100px;
    font-size: 65px;
    border: 2px black; 
    border-style: double hidden ;
    margin-top: 20px;
    margin-bottom: 0px;
}
#menu{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 2px double rgb(45, 45, 45);
    padding: 5px;
}
#menu h4{
    margin: 1px;
    border-left: 1px solid gray;
    /* border-right: 1px solid black; */
}
#menu h4:last-child{
     border-right: 1px solid gray;
}
#menu .saw{
    font-weight: bold;
}
#middle{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    margin-top: 20px;
    height: auto;
    min-height: 100%;
    padding-bottom: 75px;
}
/*링크는 서로 달라질 수 있어서 묶지않음*/
#link-left{
    display: grid;
    border-right: 1px solid black;
    width: 160px;
    
}
#link-right{
    display: grid;
    border-left: 1px solid black;
    width: 160px;
    padding-left: 20px;
    height: auto;
}               
#bottom{
    border-top: 1px solid black;
    text-align: center;
    text-decoration-color: gray;
    margin: 15px;
    font-family: 'Rajdhani', sans-serif;
    height: 75px;
    position: relative;
    transform: translateY(-100%);
}
#note-center h4{
    display: grid;
    border-bottom: 1px solid black;
    margin-right: 40px;
}

#divResults {
    font-size: 14px;
}